<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Товары</title>
    <link rel="stylesheet" href="templates/css/style.css" type="text/css"/>
</head>
<body>
    <table class="data-table">
        <thead>
            <tr>
                <th>Код</th>
                <th>Наименование</th>
                <th>Уровень1</th>
                <th>Уровень2</th>
                <th>Уровень3</th>
                <th>Цена</th>
                <th>ЦенаСП</th>
                <th>Количество</th>
                <th>Поля свойств</th>
                <th>Совместные покупки</th>
                <th>Единица измерения</th>
                <th>Картинка</th>
                <th>Выводить на главной</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
        {data}
        </tbody>
    </table>
</body>
</html>